*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color:#293264;
}
h1{
  font-family: 'Karla', sans-serif;
  font-size: 32px;
}
span{
  margin-bottom: 2em;
}
.container{
  min-width: 400px;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 2em;
}
.intro{
  position: fixed;
  text-align: center;
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color:#F5F7FB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-title{
  margin-bottom: 0;
}

.intro-description{
  margin-top: 0.3em;
  margin-bottom: 2em;
}

.intro-btn{
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color:#F5F7FB;
    background: #4D5B9E;
    display: inline-block;
    padding: 15px 45px;
    border-radius: 10px;
    
}


/* QUIZ */

.answer{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -1;
  border:1px solid #293264;
  border-radius: 15px;
  padding: 5px 25px;
  margin: 0.8em;

  
}

.isSelected{
  background: #D6DBF5;
}
.quiz-question{
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}

.all-answers{
  display: flex;
  margin-bottom: 2em;
}

.btn{
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  background: #4D5B9E;
  color:white;
  display: inline-block;
  padding: 10px 35px;
  text-decoration: none;
  border: none;
  border-radius: 12px;
}

.score-display{
  margin-right: 2em;
  font-weight: 700;
}

.answer-btn{
  display: flex;
  justify-content: center;
}

.is-correct{
  background: #94D7A2;
  color:#293264;
}
.not-correct{
  background: #F8BCBC;
  color:#4D5B9E;
  border:1px solid #4D5B9E;
}
.not-selected{
  color:grey;
  border:1px solid grey;
}
.play-again__btn{

}